.perpus {
  text-align: center;
}

#descPerpus {
  text-align: center;
}

.tableBook {
  height:500px;
  overflow: auto;

}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}

#tabel {
  display: none;
}

#myCarousel {
  width: inherit;
  height: inherit;
}

#hide {
   margin: auto;
   display: block;
}

#show {
   margin: auto;
   display: block;
   position: inherit;
}

#login-dp{
    min-width: 300px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,255);
}
#login-dp .help-block{
    font-size:12px
}

@media(max-width:768px){
    #login-dp {
        background-color: inherit;
        color: #fff;
    }
    #login {
      display: inline-block;
      color: white
    }
}

#login {
  width: inherit;
  position: relative;
  right: 15px;
}

#logout {
  width: inherit;
  position: relative;
  left: 60px;
}

.input {
  width: 300px;
  position: relative;
  left: 15px;
}
